body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.671);
}
header{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 5vw;
    flex: 1;
}

a{
    transition: transform 0.3s;
    display: inline-block;
    margin: 1vw;
    text-decoration: none;
    font-size: 3vw;
    color: rgb(146, 204, 255);
}

a:hover{
    transform: rotate(360deg);
    color: #ffee00;
}

.headerc{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
}

.image-container img{
    width: 100vw;
    height: auto;
}

.image-container {
  position: relative; 
  display: inline-block;
}

.texto-sobre-imagem {
  position: absolute; 
  top: 20%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: yellow; 
  font-size: 24px; 
  text-align: center;
  font-size: 6vw; 
}

.title{
    color: #ffee00;
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Cup {
    margin-right: 2vw;
    margin-left: auto;
    background-color: whitesmoke;
    border-radius: 4vw;
    padding: 3%;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row-reverse; 
    justify-content:space-around;
    align-items: center; 
    width: 80%;
    height: 100%;
    position: relative;
}

.Cup p{
    font-size: 2vw;
    color: rgb(0, 0, 0);
}

.Cup img{
    width: 15vw;
}

.Cyber {
    margin-left: 2vw;
    margin-right: auto;
    background-color: whitesmoke;
    border-radius: 4vw;
    padding: 3%;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content:space-between;
    align-items: center; 
    width: 80%;
    height: 100%;
    position: relative;
}

.Cyber p{
    font-size: 2vw;
    color: rgb(0, 0, 0);
}

.Cyber img{
    width: 15vw;
}

footer{
    background-color: black;
    color: whitesmoke;
    padding: 0.5vw 0vw;
    text-align: center;
    font-size: 2vw;
}


footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-top: 1vw;
}

footer ul li a{
    color: aliceblue;
    text-decoration: none;
}

footer ul li a:hover{
    color: yellow;
    text-decoration: underline;
}